.foods{
    margin: 50px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food img{
    width: 100%;
    border-radius: .5rem;
    display: block;
}

.food{
    flex-basis: 31%;
    position: relative;
}

.caption{
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(231, 212, 181, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #554c3f;
    font-weight: 700;
    opacity: 0;
    padding-top: 70%;
    transition: all 0.4s ease;
}

.caption-icon{
    font-size: 4rem !important;
    margin-bottom: 1rem;
    color: #554c3f !important;
}

.food:hover .caption{
    opacity: 1;
    padding-top: 0;
}