.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.next-btn,
.back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 50%;
    font-size: 3rem !important;
    cursor: pointer;
    background-color: #B6C7AA;
    color: #fff !important;
}

.back-btn{
    right: auto;
    left: 0;
}

.slider{
    overflow: hidden;
}

.slider ul{
    display: flex;
    width: 300%;
    overflow-x: hidden;
    transition: all .5s ease;
}


.slid{
    list-style: none;
    width: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    border-radius: .5rem;
    color: #554c3f !important;
    line-height: 1.5;
    margin: 1rem;
}

.slid img{
    border-radius: 10rem;
    width: 50%;
    border: 1.5px solid #A0937D;
}

.userInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    padding: 1rem .5rem;
    font-size: 1.3rem;
}

.slid p{
    padding: 1rem;
}

/* responsive */

@media (max-width:1000px){

    .testimonials{
        padding: 0 30px;
     }

    .slider ul{
        width: 450%;
    }
}

@media (max-width:800px){
    .testimonials{
       padding: 0 40px;
    }
    .next-btn,.back-btn{
        padding: 10px;
        width: 35px !important;
    }

    .testimonials ul li{
        padding: 10px;
    }

    .slid{
        padding: 10px;
        width: 50%;
    }
    
    .slid img{
        width: 50%;
        border: 2px solid #A0937D;
    }

    .userInfo{
        font-size: .8rem;
    }
}

@media (max-width:600px){

    .userInfo{
        display: block;
        font-size: 12px;
        text-align: center;
    }

    .userInfo h3{
        font-size: 16px;
        margin-top: 1rem;
    }

    .slider p{
        font-size: 12px;
    }
}

@media (max-width:400px){

    .slider ul{
        width: 900%;
    }
}