*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.btn{
  background-color: #F6E6CB;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 1rem;
  outline: 0;
  color: #A0937D;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  cursor: pointer;
}

.app-container{
  width: 100%;
  min-height: 100vh;
  background:linear-gradient(to right ,rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url('./img/header-5-1.jpg') 0 70% / cover;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}

